/********** TYPOGRAPHY **********/
h1 {
    font-size: 50px;
    padding: 0 0 30px 0;
}

/********** LOGO **********/
#logo-img {
    width: 100px;
}

/********** CONTENT **********/
body {
    width: 950px;
    margin: auto;
    font-family: "Luckiest Guy", cursive;
}

.small-container {
    width: 350px;
    margin: auto;
}

fieldset {
    margin-bottom: 20px;
}

label {
    padding: 20px 0 0 0;
    display: block;
}

#result-button {
    font-family: "Luckiest Guy", cursive;
    background-color: #f6bb2b;
    padding: 10px 18px;
}

#result {
    padding: 20px 0 0 0;
    width: 350px;
    margin: auto;
}
