/********** TYPOGRAPHY **********/
h1 {
    font-size: 50px;
    padding: 0 0 30px 0;
}

/********** LOGO **********/
#logo {
    width: 100px;
}

/********** CONTENT **********/
body {
    font-family: "Luckiest Guy", cursive;
    padding: 50px;
}

.question-container {
    width: 350px;
    margin: auto;
}

fieldset {
    margin-bottom: 20px;
}

label {
    display: block;
}

#result-button {
    font-family: "Luckiest Guy", cursive;
    background-color: #f6bb2b;
    padding: 10px 18px;
}

#result {
    margin-top: 20px;
}
